html{
margin: 0;
}
body {
  font-family: 'Space Mono', monospace;
  font-family: 'Roboto', sans-serif;
}
/*Header*/

header{
  height:4rem;
  background-color: white;
  width: 100%;
    border-bottom: 2px solid #ffff0052;
}

.container{
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 24px;
}

.logo{
padding-left: 1.5rem;
display: flex;
font-size: 18px;
align-items: center;
}


.logo span{
font-size: 18px;
font-family: Helvetica;
}
.Colmar{
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.Academy{
  color:gray;
  font-family: Helvetica;
}

.logo img{
  height: 2.5rem;
}
.menu span{
  line-height: 3.9rem;
  padding-right: 16px;
  font-family: 'Roboto', sans-serif;
}

.mobile-nav {
  display: none;
}
@media only screen and (max-width:700px){
  header .container {
   display: none;
 }

.Mobile-nav{
  display: flex;
  align-items: center;
  height: 64px;
  justify-content: space-around;
  background-color: white,
}

}

/*Main Banner1*/
.main-banner1{
  background-color:#b8b2b278;
}
.container{
  display: flex;
margin: auto;
}
.banner1-content{
width: 60%;
padding: 32px 24px;
}
.banner1-content img {
  width:100%
}

.Start-here-content{

  color:#525151;
  font-family: 'Ubuntu', sans-serif;
  padding-left: 3rem;

}
.Start-here-content h1{
  font-size: 41px;
  margin-bottom: 1.6rem;
  font-weight: bold;
}

.Start-here-content span{
  padding-top: 42px;
  padding-bottom: 42px;
  font-size: 22px;
}

.Start-here-content a {
  background-color: #383838;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    text-decoration: none;
  font-family: 'Roboto', sans-serif;
  display: block;
margin-top: 1.6rem;
}
@media only screen and (max-width:700px){

.main-banner1 .banner1-content{
  width: 117%;
  padding:0px 0px;
  border-top: 2px solid #ffff00a1;
}


.main-banner1 .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

}
.Start-here-content{
 padding-top:1rem;
 padding-bottom:2rem;

}

}


/*Main-banner2*/
.container2{
  display: flex;
}

.banner2-content{
  width: 60%;
padding: 32px 24px;

}

.banner2-content img{
  max-width: 100%;


}

.banner2-content h1{
  color: #525151;
  font-size: 2.1rem;
  font-weight: bolder;
  font-family: sans-serif;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.banner2-content span {
  color: gray;
  display: block;
  font-family: 'Roboto', sans-serif;
font-size: .8rem;
line-height: 1.1rem;
}
.banner2-content .Hiring{
 color: black;
 padding-top:32px;

}
/*3boxes*/
.Read-more {
  /*width: 60%;*/
  border-left: 1px solid #DCDCDC;
  width: 440px;
}
.Campus.box {
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}
.box {
  width: 100%;
 display: flex;
justify-content: space-between;
  align-items: center;
}
.content h2 {
 color: #424242;
 font-family: 'Open Sans', sans-serif;
 font-size: large;
 font-weight: bolder;
}
.content span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #169c9c;
    font-weight: 300;
  }
  .content a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #12a4dcd1;
  font-weight: lighter;
  display: flex;
}
.Lecture.box {
  background-color: #efff0038;
}

img.desktop {
    padding: 16px;
    width: 35%;
  }
.content {
  width: 40%;
  padding-right: 5rem;
}
@media only screen and (max-width:700px){
  .banner2-content{
    display:none
  }
.Read-more .box {
    border-left: 0px;
    padding: 16px 16px 32px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color:#d3d3d31c
}
banner2-content{
  display:none
}
.box img.desktop{
  display: none;
}


.Read-more{
  display:inline-block;
  justify-content:space-between;
  flex-direction:column;
  width:100%;
}

.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.box img.mobile {
  width:inherit;
}
.content {
   padding: 0px;
   width: 100%;
   margin-top: 16px;
}

}
/*6boxesandcontent*/
.container3{
background-color:#d3d3d38c;
padding-top:2rem;
padding-left: 4.5rem;
padding-right: 4.5rem;
padding-bottom: 2rem;

}

.Start-learning-content {
    color: #2b2a2a;
    font-size: 2.1rem;
    font-weight: bolder;
    font-family: sans-serif;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.block{
  width: 32%;
height: 16rem;
margin-bottom: 32px;
background-color: white;
}

.sixpics {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
flex-direction: row;
width: 80%;
margin: 0 auto;
}
.block img{
  width:100%;
}
.info {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 16px 16px 24px 16px;
}
.info h2{
  color: #2b2a2a;
  padding-top: 16px;
font-weight: bolder;

}
.info h4{
  font-size: 15px;
  font-weight: lighter;
  padding-top: 8px;

}
.info span{
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.1rem;
  color: gray;
}

@media only screen and (max-width:700px){
  .block{
    display: none;
  }
  .listofcourses {
    display: flex;
    display: flex;
   flex-direction: column;
   padding-left: 16px;
    padding-right: 16px;

  }
.listofcourses a{

background-color: #DCDCDC;
color: #383838;
text-decoration: none;
padding: 16px;
margin-bottom: 8px;
font-size: 1.4rem;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
}

.main-banner2{
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}

}
/*Thesis*/
.Fisma.box{
  background-color: #efff0045;
 }

.Thesis-exhibit{
  color: #2b2a2a;
  font-size: 2.1rem;
  font-weight: bolder;
  font-family: sans-serif;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  text-align: center;
}
.banner4-content{
  width: 60%;
padding: 32px 24px;

}
video {
width: 100%;
}
.container.2{
  display: flex;
justify-content: space-between;
align-items: center;
padding-right: 24px;
}
.Read-much{
width: 440px;
padding-bottom: 11rem;
}

@media only screen and (max-width:700px){
.Thesis-Vid{
  width: 100%;
}
.Read-much{
  display: none;
}
.banner2-content{
  display: none;
}


}
/*Terms of Service*/
footer .container{
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid #808080c7;
    height: 3.5rem;
    padding-top: 1rem;
}


footer p {
  padding-left: 24px;
  padding-right: 24px;
  color: #383838;
}

nav {
text-align: right;
flex-grow: 1;
}
.footer-nav a {
    display: inline-block;
    padding-right: 16px;
    color: #383838;
    font-size: .75rem;
    cursor: auto;
    text-decoration: none;
  }
  @media only screen and (max-width:700px){
    .footer-nav a{
      display: none;
    }

  }


  /*Min width*/
  @media only screen and (min-width:700px){
.box img.mobile{
  display:none;

}
.Mobile-nav img {
  display: none;
}
.listofcourses{
  display: none;
}
.Thesis-Vid{
  display: none;
}
}
